.TodaysTVWrapper {
  color: #fff;
}

h2 {
  padding: 1rem;
}

.TodaysTVWrapper .TodaysTV {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.TodaysTVWrapper .TodaysTV .ShowEpisode {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #202224;
  padding: 1rem;
  width: 100%;
}

.TodaysTVWrapper .TodaysTV .ShowEpisode .time {
  font-size: 18px;
  font-weight: 500;
  color: #b0b2b4;
}
