.search-content {
  max-width: 740px;
  width: 80%;
  margin: auto;
}

.top-bar {
  display: flex;
}

.top-bar .brand {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  color: #000;
  background-color: #f0a924;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  width: 100px;
}

.search-bar {
  border: none;
  width: 100%;
  height: 50px;
  position: relative;
}

.search-bar input {
  border: none;
  font-size: 24px;
  height: 100%;
  width: 94%;
  padding-left: 32px;
  padding-top: 0;
  padding-bottom: 0;
}

.search-bar svg {
  right: auto;
  left: 0.7em;
  top: 20px;
  position: absolute;
  color: var(--black-200);
}

.search-results {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-results a {
  text-decoration: none;
  color: inherit;
}

.search-show-card {
  margin: 5px;
  margin-bottom: 20px;
}

.search-show-card .name {
  inline-size: 210px;
  font-size: 26px;
  overflow-wrap: break-word;
}

.search-show-card img {
  border: 3px solid transparent;
}

.search-show-card:hover .name {
  color: lightsteelblue;
}

.search-show-card:hover img {
  border: 3px solid lightsteelblue;
  border-radius: 3px;
}

.search-show-card .genre {
  color: lightslategray;
  inline-size: 210px;
  overflow-wrap: break-word;
}
